[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
dj-database-url = "*"
pillow = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
ruff = "*"
isort = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
